body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background: #222;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 40px;
    background: white;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 8px;
}
